.button {
  text-decoration: none;
  border-radius: 10px;
  padding: 10px 26px;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  background: var(--yellow-gradient);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.15),
    inset 0px 1px 0px rgba(255, 255, 255, 0.75);
}

.button__icon {
  width: 17px;
  height: 17px;
  color: var(--black);
}

.button__text {
  font-family: var(--font);
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;

  color: var(--dark);
}

.button__icon--right {
  display: none;
}
.button:hover > .button__icon--right {
  display: inline;
}
.button:hover > .button__icon--left {
  display: none;
}

.button:hover {
  background: var(--yellow);
  box-shadow: none;
}

@media only screen and (min-width: 768px) {
  .button {
    padding: 12px 30px;
  }

  .button__text {
    font-size: 20px;
    line-height: 33px;
  }

  .button__icon {
    width: 20px;
    height: 20px;
  }
}
