.logo {
  width: 140px;
}

.menu {
  position: relative;
  z-index: 1;
}
.menu img {
  display: inline-block;
  position: fixed;
  z-index: 100;
  top: 18px;
  left: 15px;
  opacity: 0;
}
.menu ul {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  color: var(--white);
  list-style: none;
  font-family: var(--font);
}

.menu__checkbox {
  display: none;
}

.menu__icon {
  font-size: 32px;
}

.menu__close {
  color: var(--white);
  font-size: 32px;
  display: none;
  position: fixed;
  z-index: 1;
  right: 10px;
  top: 10px;
}

.menu__checkbox:checked + label .menu__icon {
  display: none;
}

.menu__checkbox:checked + label .menu__close {
  display: block;
}

.menu__checkbox:checked ~ ul {
  display: flex;
  opacity: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  animation: fadein 300ms ease-in 100ms forwards;
}

.menu__checkbox:checked ~ ul li {
  font-size: 32px;
}
.menu__checkbox:checked ~ img {
  opacity: 1;
  transition: all 300ms ease-in 50ms;
}
@media screen and (min-width: 1025px) {
  .header {
    height: 90px;
  }
  .menu__label {
    display: none;
  }
  .menu ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    background: none;
    gap: 25px;
    color: var(--black);
  }
  .menu ul li {
    position: relative;
    font-size: 20px;
    line-height: 33px;
  }
  .redes-sociales {
    margin-left: calc(50vw / 3);
  }
  .menu ul li:hover {
    height: 100%;
    color: var(--white);
    background: var(--black);
    padding: 30px 25px;
    text-decoration-line: underline;
    transition: all 300ms ease;
  }
  /* .menu ul li::after {
    content: "";
    width: 0%;
    height: 2px;
    background: var(--black);
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: all 300ms ease;
  }
  .menu ul li:hover::after {
    width: 100%;
  } */
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: translate(50%, 0);
  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
