.hero-container {
  position: relative;
}

.hero__image1 {
  height: 463px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../images/background01.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__image2 {
  height: 463px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../../images/background02.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__foreground-1 {
  width: 258px;
  height: 275px;
}

.hero__foreground-2 {
  width: 293px;
  height: 275px;
}

@media only screen and (min-width: 768px) {
  .hero__image2 {
    height: 600px;
  }

  .hero__image1 {
    height: 600px;
  }
}
