.pig {
  height: 200px;
}
.pig__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/**
 * Un media query intermedio para que no exista un cambio fuerte de 200px a 325px
 * en el contenedor de cerditos.
 */
@media only screen and (min-width: 992px) {
  .pig {
    height: 275px;
  }
}
